div {
    width: 200px;
    height: 200px;
    border: 1px solid chocolate;
    border-radius: 100%;
    background-image: url("../../handsOn/puppy.jpg");
    background-size: cover;
}

img {
    border: 10px groove orangered;
    border-radius: 100%;
}

.dogone {
    border: 10px dotted teal;
}
